body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 5px 0;
    background-color: black;
}

header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    /* width: 33.33%; */
    width: fit-content;
    margin: 0 15px;
}