body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 5px 0;
    background-color: black;
}

header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    /* width: 33.33%; */
    width: fit-content;
    margin: 0 15px;
}

form > div {
    border: 1px solid lightgreen;
    box-shadow: 0 0 10px lightgreen;
    width: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
}

.input {
    margin: 10px;
}

.input input {
    border: 0;
    border-bottom: 1px solid gray;
}

input[type='submit'] {
    border: 0;
    background: lightskyblue;
    padding: 5px 15px;
    border-radius: 5px;
    /* display: inline-block; */
    /* margin: auto; */
}

input[type='submit']:hover {
    cursor: pointer;
    background-color: deepskyblue;
    color: yellow;
}
